<div class="row">
  <div class="col">
    <%= link_to "New Track", new_track_path, class: "btn btn-primary float-right" %>
  </div>
</div>

<div class="grid grid-cols-1  md:grid-cols-3 gap-4">
  <% @tracks.each do |track| %>
    <div>
      <%= link_to track_path(track) do %>
        <h5 class="card-title">
          <%= track.name %>
        </h5>
      <% end %>
    </div>
  <% end %>
</div>
