<div class="row">
  <div class="col">
    <%= link_to "New Track", new_track_path, class: "btn btn-primary float-right" %>
  </div>
</div>

<div class="row">
  <% @tracks.each do |track| %>
    <div class="col-3"><%= track.name %></div>
  <% end %>
</div>
