<div class="row">
  <div class="col">
    <%= link_to "New Track", new_track_path, class: "btn btn-primary float-right" %>
  </div>
</div>

<div class="row">
  <% @tracks.each do |track| %>
    <div class="col track-container">
      <%= link_to track_path(track) do %>
        <div class="track-card">
          <h5 class="card-title">
            <%= track.name %>
          </h5>
          <p class="card-text"></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
