.track-container {
  a:hover {
    text-decoration: none;
  }
}

.track-card {
  margin: 15px;
  padding: 65px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgb(74, 222, 128), rgb(6, 182, 212));
  border-radius: 15px;

  h5 {
    color: #fff;
  }
}
